body {
  background-color: beige;
}

.main {
  border: solid 2px;
}

header {
  display: flex;
  justify-content: center;
  border: solid 2px;
  height: 160px;
}

#links {
  display: flex;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 2px;
  height: 80px;
  background-color: black;
  color: white;
}

.gallery {
  border: solid 2px;
  display: flex;
  justify-content: center;
}

#bold {
  background-color: black;
  color: white;
}

td {
  width: 325px;
  text-align: center;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
}

td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

table {
  margin: auto auto;
  border-spacing: 15px;
}

tr {
  height: 325px;
}

.foot {
  grid-column: 2/3;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

#copyright {
  margin-left: 231px;
}

#twitter {
  margin-right: 10px;
  border: solid 3px white;
}

#facebook {
  margin-right: 10px;
  border: solid 3px white;
}

#pinterest {
  margin-right: 231px;
  border: solid 3px white;
}
