body {
  background-color: white;
}

.main {
  /* border: solid 2px; */
}

header {
  display: flex;
  justify-content: center;
  /* border: solid 2px; */
  height: 160px;
}

#directory {
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 30px;
}

#links {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-family: "Pacifico", cursive;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}

.origin {
  /* border: solid 2px; */
  display: flex;
  justify-content: center;
}

#bold {
  background-color: black;
  color: white;
  font-size: 35px;
}

.pic {
  /* border: solid 2px; */
  display: flex;
  justify-content: center;
}

#profile-pic {
  width: 940px;
  height: 300px;
}

.content {
  text-align: center;
}

.paragraph {
  width: 40%;
  margin-left: 30%;
  line-height: 24px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 2px;
  height: 80px;
  background-color: black;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.foot {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#copyright {
  margin: 0;
}

#twitter,
#facebook,
#pinterest {
  margin: 0 5px;
  max-width: 20px;
  height: auto;
}
