body {
  background-color: beige;
}

.main {
  border: solid 2px;
}

header {
  display: flex;
  justify-content: center;
  border: solid 2px;
  height: 160px;
}

.top-section {
  border: solid 2px;
  height: 400px;
}

.bot-section {
  border: solid 2px;
  height: 160px;
}

footer {
  border: solid 2px;
  height: 80px;
}

#links {
  display: flex;
  justify-content: center;
}
